# Ignore virtual environment
*venv*
*__pycache__*
.idea*
# Ignore large calculation data, images and testing data
Code/DATA*
Code/Images*
Code/Testing_Debug*
*__pycache__/
Code/TestingFile.ipynb
Code/Mutual_inductance.ipynb